
nav{
  margin:auto
}
#header{
  display: flex;
  height: 120px;
  border: ridge #ccc;
  border-width: 6px;
}
body {
  color: red;
  background-color: grey;
}
#content{
  border: ridge #ccc;
  border-width: 6px;
}
#links{
  display: flex;
  flex-direction: column;
  border: ridge #ccc;
  border-width: 6px;
}
.titles{
	text-align: center;
}
#tableblock{
  border: ridge #ccc;
  border-width: 6px;
}
#formblock{
  border: ridge #ccc;
  border-width: 6px;
}
footer{
  display: flex;
  height: 60px;
  border: ridge #ccc;
  border-width: 6px;
}
table{
  table-layout: auto;
  height: 400px;
  width: 100%;
  border: 1px solid red;
}
table th{
	border: 1px solid red;
}
.to{
  border: 1px solid red;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: white;
  text-align: center;
  color: black;
}
.te{
  border: 1px solid red;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #000;
  text-align: center;  
}
